<h2><%= @customer.full_name %>さんの会員情報編集</h2>

<%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f|  %>

<div class="form-group">
<strong><%= f.label "氏名" %></strong>

<%= f.text_field :last_name %>
<%= f.text_field :first_name %>
</div>

<div class="form-group">
<strong><%= f.label "フリガナ" %></strong>

<%= f.text_field :last_name_kana %>
<%= f.text_field :first_name_kana %>
</div>

<div class="form-group">
<strong><%= f.label "郵便番号" %></strong>
<%= f.text_field :postal_code %>
</div>

<div class="form-group">
<strong><%= f.label "住所" %></strong>
<%= f.text_area :address %>
</div>

<div class="form-group">
<strong><%= f.label "電話番号" %></strong>
<%= f.text_field :telephone_number %>
</div>

<div class="form-group">
<strong><%= f.label "会員ステータス" %></strong>
<label><%= f.radio_button :is_deleted, true, checked: true %>有効</label>

<label><%= f.radio_button :is_deleted, false %>退会</label>

<%= f.submit "変更を保存", class: "btn btn-success"%>

<% end %>
